@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
}

html,
body,
.App {
  width: 100%;
  height: auto;

  margin: 0;
  padding: 0;

  font-family: "Oswald", sans-serif;
}

/* Home Page */

/* Inside navbar */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background-color: rgba(0, 0, 0, 0.03);

  padding: 1% 4%;

  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);
}

.logo {
  background-color: dodgerblue;

  padding: 0 1%;

  font-size: 0.8rem;
  text-align: center;
  letter-spacing: 2px;

  border-radius: 50px;

  cursor: pointer;
}

.nav-item {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  width: 10%;
}

.nav-item div {
  letter-spacing: 2px;
  font-size: 10px;

  cursor: pointer;
}

/* Heading - Welcome message */

main {
  text-align: center;
}

#heading {
  font-weight: 500;
  font-size: 5vw;
}

main p {
  font-weight: 300;
}

main div input {
  width: 30%;
  padding: 1%;
}

main div button {
  width: 10%;
  padding: 1%;

  cursor: pointer;
}


/* Footer */
footer{
  position: relative;
  bottom: 0;
  text-align: center;
}












/* User Detail Component */
/* .userWrapper{
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
} */